@import '../../styles/variables.scss';

.groupContainer {
  width: 100%;

  .groupContentContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20%;

    .header {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .profileImages {
        display: flex;
        align-items: center;

        .pofileImage {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
        }

        .positioned {
          position: absolute;
          top: 0;
          left: calc((4% * (n - 1)));

          &:nth-child(1) {
            left: 0;
          }

          &:nth-child(2) {
            left: 4%;
          }

          &:nth-child(3) {
            left: 8%;
          }

          &:nth-child(4) {
            left: 12%;
          }

          &:nth-child(5) {
            left: 16%;
          }
        }
      }

      .addAccount {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
      }
    }

    .totalPrice {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 20px;
      padding: 25px 20px;
      background-color: $grey22;
      box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      .detailBox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail {
          display: flex;
          align-items: center;
          gap: 10px;

          .title {
            font-size: 18px;
            font-weight: bold;
          }

          .count {
            border-radius: 100px;
            padding: 5px 8px;
            font-size: 13px;
            background-color: rgb(229, 229, 239);
          }
        }

        .price {
          font-weight: bold;
        }
      }
    }

    .addUserBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
      padding: 25px 20px;
      margin-bottom: 30px;
      background-color: $grey22;
      box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);

      .title {
        font-size: 20px;
        font-weight: bold;
      }

      .addUserButton {
        cursor: pointer;
      }
    }
  }
}
