@import '../../../../styles/variables.scss';

.groupTotalPriceContainer {
  max-width: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .totalPriceHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .totalPriceTitleBox {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .headerTitleBox {
        display: flex;
        align-items: center;
        justify-content: center;

        .arrowBack {
          position: absolute;
          left: 0;
          cursor: pointer;
        }
        .title {
          font-size: 18px;
        }
      }

      .headerDateBox {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;

        .headerDate {
          font-size: 14px;
          font-weight: bold;
          color: #444444;
          cursor: pointer;
        }
      }
    }

    .groupUser {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .groupTab {
        border: 1px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        color: $grey60;
        cursor: pointer;

        &:hover {
          color: $black;
        }

        &.bold {
          font-weight: 900;
          border-bottom: 2px solid $purple;
          color: #444444;
        }
      }
    }
  }

  .totalPriceContainer {
    width: 111%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: -5.5%;
    padding: 10% 0;
    background-color: $grey22;

    .totalContentContainer {
      width: 90%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 20px 0;
      border-radius: 10px;

      .contentBox {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $grey22;
        padding-bottom: 24px;
        margin: 0 auto;
        font-weight: bold;

        .price {
          font-size: 20px;
        }
      }

      .paymentContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;

        .expenses {
          border-bottom: 1px solid $grey22;
          padding: 24px 0 20px;

          &:last-child {
            border: none;
          }

          .paymentHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .subTitle {
              color: $grey60;
              font-weight: bold;
            }

            .price {
              font-size: 18px;
            }
          }

          .paymentInfo {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 30px;

            .paymentSubHeader {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 14px;
              color: $grey60;
            }

            .paymentContent {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .place {
                position: absolute;
                width: 100px;
                clip: rect(0, 38px, 50px, 0);
              }

              .priceInfo {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-top: 1%;
                padding-left: 13%;

                p {
                  font-size: 14px;
                }

                .price {
                  font-weight: bold;
                }
              }

              .profile {
                width: 25px;
                height: 25px;
                border-radius: 50%;
              }
            }
          }
        }
      }

      .importInfo {
        width: 90%;
        display: grid;
        align-items: center;
        margin: 0 auto;
        font-size: 15px;

        .importHeader {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 24px;
          margin-bottom: 20px;
          font-size: 15px;
          color: $grey60;
        }

        .importContent {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .place {
            position: absolute;
            width: 100px;
            clip: rect(0, 38px, 50px, 0);
          }

          .priceInfo {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-top: 1%;
            padding-left: 13%;

            p {
              font-size: 14px;
            }

            .price {
              font-weight: bold;
            }
          }

          .profile {
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
        }
      }

      .totalPriceItemContainer {
        display: flex;
        flex-direction: column;

        .totalPriceTitleHeader {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 20px;
          margin: 0 auto 20px;
          font-size: 14px;

          .price {
            font-size: 18px;
          }
        }

        .totalPriceContent {
          position: relative;
          width: 90%;
          display: grid;
          align-items: center;
          grid-template-columns: 10fr 1fr;
          padding-left: 13%;
          margin: 0 auto 10%;
          font-size: 15px;

          .place {
            position: absolute;
            width: 100px;
            clip: rect(0, 38px, 50px, 0);
          }

          .priceInfo {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .price {
              font-weight: bold;
            }
          }

          .profile {
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
