@import '../../../styles//variables.scss';

.myPageContentBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .noticePasswordValidation {
    color: rgb(212, 86, 86);
    text-align: center;
    word-break: keep-all;
    font-size: 14px;
  }

  .changePasswordBox {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .passwordInputBox {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .changePasswordInput {
        position: relative;

        .passwordIcon {
          position: absolute;
          top: 32%;
          left: 6%;
          z-index: 10;
        }
      }

      .passwordCheck {
        position: absolute;
        bottom: 18%;
        left: 10%;
        font-size: 12px;
        font-weight: bold;
        color: $red;
      }
    }
  }
}
