@import '../../../styles//variables.scss';

.noticePasswordValidation {
  color: rgb(212, 86, 86);
  text-align: center;
  padding-top: 30px;
  word-break: keep-all;
}

.changePasswordBox {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 40px;

  .passwordInputBox {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .changePasswordInput {
      position: relative;

      .passwordIcon {
        position: absolute;
        top: 32%;
        left: 6%;
        z-index: 10;
      }
    }

    .passwordCheck {
      position: absolute;
      top: 67%;
      left: 10%;
      font-size: 12px;
      font-weight: bold;
      color: $red;
    }
  }
}
