.changePasswordBox {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;

  .passwordInputBox {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .changePasswordInput {
      position: relative;

      .passwordIcon {
        position: absolute;
        top: 32%;
        left: 6%;
        z-index: 10;
      }
    }
  }
}
