.addUserContainer {
  max-width: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;

  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

    .content {
      font-size: 24px;
      font-weight: bold;

      span {
        color: blue;
      }
    }

    .subContent {
      text-align: center;
      margin-bottom: 100px;
    }
  }
}
