@import '../../../../styles/variables.scss';

.cardDetailContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  .cardDetailHeader {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 25px 25px;

    .cardListTitleBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .arrowBack {
        position: absolute;
        left: 20px;
        cursor: pointer;
      }
      .title {
        font-size: 18px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .contentContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .contentHeader {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cardName {
          font-size: 18px;
          font-weight: bold;
        }
        .accountNumber {
          font-size: 14px;
          color: $grey60;
        }
        .price {
          font-size: 26px;
          font-weight: bolder;
        }
      }
      .comparison {
        position: relative;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        background-color: $grey22;
        overflow: hidden;

        .percentBar {
          width: auto;
          height: 100%;
          background-color: $purple;
          border-radius: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 15px;
        }

        .percentText {
          position: absolute;
          left: 50%;
          font-size: 15px;
          font-weight: 600;
          color: #adb1b5;
        }
      }

      .priceGoal {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p:first-child {
          font-size: 14px;
        }

        .price {
          font-weight: bold;
        }
      }
    }
  }

  .cardUsingList {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 40px auto 0;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      p {
        font-weight: bold;
        font-size: 18px;
      }
    }

    .content {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-bottom: 20px;

      .category {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #e3e4f2;
        padding: 5px;
      }

      .detailContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .title {
          font-size: 14px;
        }
      }
    }
  }
}
