@import '../../styles/variables.scss';

.calendarModalBackGround {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;

  .backDrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .calendarContentBox {
    position: relative;
    width: 390px;
    height: 90vh;
    border-radius: 20px;
    margin: 251px auto 0;
    z-index: 12;

    .xButton {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 35px;
      border: none;
      border-radius: 20px 20px 0 0;
      padding: 20px 20px 0 0;
      font-size: 22px;
      font-weight: 600;
      background-color: #ffffff;

      svg {
        cursor: pointer;
      }
    }

    .calendarModal {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 55%;
      border-radius: 0 0 20px 20px;
      padding: 25px 25px 15%;
      overflow-y: scroll;
      background-color: #ffffff;

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: $purple;
        border-radius: 5px;
        margin: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-track:hover {
        background-color: transparent;
      }

      .calendarModalItem {
        padding: 20px 5px;
        font-size: 14px;
        font-weight: 600;
        border-top: 1px solid $grey22;

        &:hover {
          cursor: pointer;
          background-color: $grey93;
        }

        &:last-child {
          border-bottom: 1px solid $grey22;
        }
      }
    }
  }
}
