@import '../../styles/variables.scss';

.calendarModalBackGround {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .xButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border: none;
    border-radius: 20px 20px 0 0;
    font-size: 27px;
    font-weight: 600;
    background-color: #ffffff;
    cursor: pointer;
  }

  .calendarModal {
    display: flex;
    flex-direction: column;
    height: 55%;
    padding: 25px;
    overflow-y: scroll;
    background-color: #ffffff;

    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: $purple; /* 스크롤바 위로 마우스를 올렸을 때 색상 변경 */
      border-radius: 5px;
      margin: 5px;
    }

    /* 수평 스크롤바 스타일 (Chrome, Safari) */
    &::-webkit-scrollbar-track {
      background-color: transparent; /* 스크롤바 트랙의 배경색 설정 */
    }

    &::-webkit-scrollbar-track:hover {
      background-color: transparent; /* 스크롤바 트랙 위로 마우스를 올렸을 때 색상 변경 */
    }

    .calendarModalItem {
      padding: 20px 5px;
      font-size: 18px;
      font-weight: 600;
      border-top: 1px solid $grey22;

      &:last-child {
        border-bottom: 1px solid $grey22;
      }
    }
  }
}
