@import '../../../../styles/variables.scss';

.groupUserListContainer {
  max-width: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .groupUserLIstTitleBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey22;

    .arrowBack {
      position: absolute;
      left: 0;
      cursor: pointer;
    }

    .title {
      font-size: 18px;
    }
  }

  .groupUserListContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-height: 62vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
