@import '../../styles/variables.scss';

.navBar {
  position: fixed;
  width: 390px;
  height: 10%;
  bottom: 10%;
  display: flex;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: #ffffff;

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .button {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-left: 1px solid #f1f1f1;
      cursor: pointer;

      &:hover {
        background-color: $grey22;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
      }

      &.active {
        background-color: $grey22;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
      }

      &:first-child {
        border-left: none;
      }

      .navIcons {
        font-size: 25px;
        color: $purple;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $purple;
      }
    }
  }
}
