@import '../../../styles/variables.scss';

.invite {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .inviteContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    padding: 20px 0;
    margin: 0 auto;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:active {
      box-shadow: 1px -1px 2px 3px rgba(0, 0, 0, 0.2);
    }

    .phoneIcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inviteMethod {
      font-weight: bold;
      user-select: none;
    }
  }
}
